* {
    margin: 0;
    padding: 0;
}

a {
    color: rgba(255, 255, 255, 0.774);
    text-decoration: none;
}

body {
    background-color: rgba(16, 78, 94, 0.26);
}

.navbar {
    background-color: rgb(34, 129, 150);
}

.navbar-nav .nav-link {
    color: white;
}

.title {
    margin-top: 20px;
    margin-left: 60px;
    color: rgb(34, 129, 150);
}

hr {
    height: 2px;
    background-color: #ffffff;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

.coordonnées {
    background-color: rgb(34, 129, 150);
    margin-left: 850px;
    margin-right: 850px;
    text-align: center;
    color: rgba(255, 255, 255, 0.774);
}

.horaires-douverture {
    background-color: rgb(34, 129, 150);
    margin-left: 850px;
    margin-right: 850px;
    margin-top: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.774)
}

footer {
    background-color: rgb(34, 129, 150);
    text-align: center;
    color: rgba(255, 255, 255, 0.774);
}